<button mat-button [routerLink]="['./create']">CREATE</button>
<mat-form-field>
  <input matInput [formControl]="sum" placeholder="Sum" type="text">
</mat-form-field>
<app-transaction-upload></app-transaction-upload>
<ag-grid-angular
  style="width: 100%; height: 90vh"
  class="ag-theme-balham"
  [rowData]="transactions$ | async"
  [columnTypes]="columnTypes"
  [columnDefs]="columnDefs"
  [modules]="modules"
  [showToolPanel]="true"
  (gridReady)="onGridReady($event)"
  (cellValueChanged)="onCellValueChanged($event)"
  (filterChanged)="onFilterChanged($event)"
  [defaultColDef]="defaultColDef"
  (rowDataChanged)="onRowDataChanged($event)"
>

</ag-grid-angular>
