<button mat-button [routerLink]="['./create']">CREATE</button>
<table mat-table [dataSource]="transactions$">
  <ng-container *ngFor="let disCol of dbColumns" matColumnDef="{{disCol}}">
    <th mat-header-cell *matHeaderCellDef>{{capitalizeFirstLetter(disCol)}}</th>
    <td mat-cell *matCellDef="let element">{{ disCol === 'date' ? (element[disCol] | date ) : element[disCol] }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element"><button mat-button [routerLink]="['./edit/', element.id]">EDIT</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
